window#waybar {
	background-color: @base00;
	border-right: 2px solid @base01;
}

#workspaces {
	background-color: transparent;
}

#workspaces button {
	background-color: transparent;
	color: @base07;
	border-radius: 0%;
	margin-left: 5px;
	margin-right: 5px;
	padding: 0px;
}

#workspaces button.active {
	color: @base04;
}

#workspaces button.urgent {
	background-color: @base09;
}
